body {
    background-color: lightblue;
}

div.flash-info {
    width: 400px;
    padding: 7px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 12px;
    background-color: #f0f0f0;
    border: 2px solid green;
}

div.flash-warn {
    width: 400px;
    padding: 7px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 12px;
    background-color: #f0f0f0;
    border: 2px solid orange;

}

div.flash-error {
    width: 400px;
    padding: 7px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 12px;
    background-color: #f0f0f0;
    border: 2px solid red;
}
h1 {
    font-size: 1.5em;
}

p.log{
    display:inline-block;
    float: right;
    color:gray;
    background-color: white;
    padding: 0.8em;
    margin : 0 0.4em 1em 0;
}

p.log:hover{
    color: white;
    background-color:lightseagreen;
}

div#center{
    display:block;
    text-align:center;
    margin : 0 auto 0 auto;
}

p.nav{
    display:inline-block;
    color:gray;
    background-color: white;
    padding: 0.5em;
    margin : 0 0.2em 1em 0;
}

p.nav:hover{
    color: lightseagreen;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 0.2em solid #555;
    outline: none;
}

input[type=text]:focus, input[type=password]:focus {
    border: 0.2em solid lightseagreen;
}

input[type=text]:valid {
    border: 0.2em solid rgb(105, 247, 159);
}

.space{
    display:block;
    margin: 0.5em 0 0 0; 
}

.liste{
    margin : 2em 1em 1em 1em;
    list-style-type:none;
}

.entree{
    background-color : white;
    margin : 0.5em;
    padding : 1em;
    border: 0.1em solid cornflowerblue;
}

a.lien{
    text-decoration:none;
    color:darkblue;
}

.comment{
    display:block;
}

p.c_aff{
    background-color :cornsilk;
    color:darkblue;
    padding : 3em;
}